<div class="share" style="width: 100%;">
<div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;">如果你喜欢我的文章，欢迎关注我的公众号 JaqenAndroid。</div>

  <img src="https://raw.githubusercontent.com/zywudev/blog-source/master/image/qrcode_jaqen_android.jpg" alt="Running Geek" style="margin: auto; display: block;"/>

  
  
</div>
