<header>
  <a id='go-back-home' href='<%- url_for() %>'><img src='/images/logo.png' alt='Home' width='100' height='98' ></a>
  <p><%= theme.title %></p>
  <p><%= theme.description %></p>
</header>
