<section class="<%=sectionClass%>">
    <h1>Recommendation</h1>
    <img style="margin: 8px 0px" src="/images/zhangshaowen.jpg">
    <img style="margin: 8px 0px" src="/images/yangxiaofeng.jpg">
    <img style="margin: 8px 0px" src="/images/qiuyue.jpg">
    
</section>
